body {
    font-family: "Fira Sans", sans;
    /* font-family: "Alegreya", sans; */
    font-size: 18px;
    background: #F5F5ED;
    margin: 0;
}

.sc {
    font-variant: small-caps;
}

@media (max-width: 799px) {
    body {
	padding: 15px;
	/* font-size: 0.95em; */
    }
}

/* Partie supérieure de la page */
@media (min-width: 800px) {
    body #preamble {
	width: 700px;
	margin: 0px auto;
	position: relative;
    }
}

/* Partie intro */
body .intro {
    padding-top: 20px;
    text-align: center;
}

/* Pour le menu ul*/
body .nav {
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid #e2e2e2;
    font-variant: small-caps;
    /* font-size: 12px; */
    /* text-transform: uppercase; */
}
body .nav ul {
    list-style: none;
    padding: 0;
}
body .nav ul li {
    color: #999;
    display: inline-block;
    margin: 0;
}
body .nav ul li a {
    display: inline-block;
    padding-right: 6px;
    border-radius: 0;
    font-weight: normal;
    color: #6a6a6a;
}
/* body .nav ul li i { */
/*   font-size: 2em; */
/* } */

body a {
    text-decoration: none;
    color: #C25200;
    transition: .2s all ease-in;
}
body a:hover {
    color: #C2000F;/*#3E0C5C;*/
    text-decoration: italic;
}

/* Gestion des images */
body img {
    border: 1px solid #ccc;
    height: auto;
    max-width: 70%;
}
@media (max-width: 800px) {
    body img {
	max-width: 100%;
    }
}
body img.no-border {
    border: none;
}

/* Si la largeur est au minimum de 800, alors on fiche la largeur de
   content et postamble à 700 */
@media (min-width: 800px) {
  body #content,
  body #postamble {
    margin: 0 auto;
    max-width: 700px !important;
    width: 700px !important;
  }
}
body #content {
    margin-top: 10px;
}
body #postamble {
    border-top: 1px solid #e2e2e2;
    line-height: 1.4em;
    text-align: center;
    font-size: x-small;
    padding-top: 10px;
    padding-bottom: 10px;
}
body #postamble a {
    color: #C25200; /* #76319F;*/
    /* text-decoration: underline; */
    transition: .2s all ease-in;
}
body #postamble a:hover {
    color: #C2000F;/*#3E0C5C;*/
}
/* Fin structure */

body h1.title {
  display: none;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    /* line-height: 1.5em; */
    /* font-weight: 300; */
}

/* h1 span { */
/*     font-weight: normal; */
/*     display: block; */
/*     font-size: 0.8em; */
/*     line-height: 1em; */
/* } */

h2 {
    font-size: xx-large;
    margin-top: 1em;
    margin-bottom: 0.4em;
    /* font-weight: 500; */
    /* line-height: 2em; */
}

h3 {
    font-size: x-large; /* 1.3em; */
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

h4 {
    font-size: large;
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}

tt, code, kbd {
    background: #efeadc;
    border: 1px solid #ccc;
    padding: 2px 6px 0px;
    border-radius: 4px;
    /* color: #ddd; */
}

p {
    margin-bottom: 2em;
}

p.centered {
    text-align: center;
    margin: 3em 0;
}

em {
    font-weight: 500;
}

/* Pour les blocks de code */
pre.src {
    font-size: small;
    background-color: #FFFFFF;
    overflow: auto;
}

/* body .nav { */
/*   /\* background: #F2EFE4; *\/ */
/*   border-bottom: 1px solid #e2e2e2; */
/*   /\* padding: 8px; *\/ */
/*   margin-top: 30px; */
/*   margin-bottom: 20px; */
/*   text-align: center; */
/*   font-size: 12px; */
/*   /\* font-weight: 400; *\/ */
/* } */


