body {
    font-family: "Fira Sans", sans;
    /* font-family: "Alegreya", sans; */
    font-size: 18px;
    /* background: #F5F5ED; */
    background: #F4ECD8;
    margin: 0;
}

.sc {
    font-variant: small-caps;
}

@media (max-width: 799px) {
    body {
	padding: 15px;
	/* font-size: 0.95em; */
    }
}

/* Partie supérieure de la page */
@media (min-width: 800px) {
    body #preamble {
	width: 700px;
	margin: 0px auto;
	position: relative;
    }
}

/* Partie intro */
body .intro {
    padding-top: 20px;
    text-align: center;
}

/* Pour le menu ul*/
body .nav {
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid #999;
    font-variant: small-caps;
    font-family: Fira Sans, Sans;
    /* font-size: 12px; */
    /* text-transform: uppercase; */
}
body .nav ul {
    list-style: none;
    padding: 0;
    margin-top: 6px;
    margin-bottom: 12px;
}
body .nav ul li {
    color: #999;
    display: inline-block;
    margin: 0;
}
body .nav ul li a {
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 0;
    font-weight: normal;
    color: #6a6a6a;
    border-bottom: none;
    font-family: Fira Sans, Sans;
}
/* body .nav ul li i { */
/*   font-size: 2em; */
/* } */

body a {
    text-decoration: none;
    /* color: #C25200; */
    color: #1454FF;
    transition: .2s all ease-in;
    font-family: Roboto, Sans;
    /* border-bottom: 1px dashed lightgrey; */
}
body a:hover {
    /* color: #C2000F;/\*#3E0C5C;*\/ */
    color: #6814FF;
    text-decoration: italic;
    /* border-bottom: 1px solid lightgrey; */
}

/* Gestion des images */
body img {
    border: 1px solid #ccc;
    height: auto;
    max-width: 70%;
}
@media (max-width: 800px) {
    body img {
	max-width: 100%;
    }
}
body img.no-border {
    border: none;
}

/* Si la largeur est au minimum de 800, alors on fiche la largeur de
   content et postamble à 700 */
@media (min-width: 800px) {
    body #content,
    body #postamble {
	margin: 0 auto;
	max-width: 700px !important;
	width: 700px !important;
    }
}
body #content {
    margin-top: 10px;
}
body #postamble {
    border-top: 1px solid #999;
    line-height: 1.4em;
    text-align: center;
    font-size: x-small;
    padding-top: 10px;
    padding-bottom: 10px;
}

body #postamble a {
    border-bottom: none;
}

/* body #postamble a { */
/*     color: #C25200; /\* #76319F;*\/ */
/*     /\* text-decoration: underline; *\/ */
/*     transition: .2s all ease-in; */
/* } */
/* body #postamble a:hover { */
/*     color: #C2000F;/\*#3E0C5C;*\/ */
/* } */
/* Fin structure */

body h1.title {
    display: none;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Fira Sans, Sans;
}

h1 a {
    text-decoration:none !important;
    color: black;
    border-bottom: none;
    font-family: Fira Sans;
}

h1 a:hover {
    text-decoration:none !important;
    color: black;
    border-bottom: none;
}


h2 {
    font-size: xx-large;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: x-large; /* 1.3em; */
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

h4 {
    font-size: large;
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}

/* Suppr car prism.js */
/* tt, code, kbd { */
/*     background: #efeadc; */
/*     border: 1px solid #ccc; */
/*     padding: 2px 6px 0px; */
/*     border-radius: 4px; */
/*     /\* color: #ddd; *\/ */
/* } */

p {
    margin-bottom: 2em;
}

/* Gère les marges entre un p et un ul ! */
p + ul {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
}

p + div.org-src-container {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
}

p + table {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
}

p + div.code-toolbar {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
}

p.centered {
    text-align: center;
    margin: 3em 0;
}

em {
    font-weight: 500;
}

/* Pour les blocks de code */
/* pre.src { */
/*     font-size: small; */
/*     background-color: #FFFFFF; */
/*     overflow: auto; */
/* } */

/* Les tableaux */
table {
    /* border: none; */
    margin-left:auto;
    margin-right:auto;
}

/* body .nav { */
/*   /\* background: #F2EFE4; *\/ */
/*   border-bottom: 1px solid #e2e2e2; */
/*   /\* padding: 8px; *\/ */
/*   margin-top: 30px; */
/*   margin-bottom: 20px; */
/*   text-align: center; */
/*   font-size: 12px; */
/*   /\* font-weight: 400; *\/ */
/* } */

/* Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    font-size: inherit;
    border: none;
    font-family: inherit;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    padding-right: 6px;
    color: #6a6a6a;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 6px;
    padding-bottom: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    /* color: black; */
    /* padding: 12px 16px; */
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px !important;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

/* https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div */
.imgspotify {
    vertical-align: middle;
}

.lienspotify {
    padding-top: 2px;
    padding-bottom: 1px;
}

.linkonimage {
    border-bottom: none;
}

.linkonimage a:hover {
    border-bottom: none;
}
